body {
    background: yellow;
}

.container{
    background-color: red;
    margin-top: 10%;
}

.about{
    text-align: center;
}

.description{
    text-align: center;
}


/* P { text-align: center }
H2 { text-align: center } */